body {
    background-color:#FFFFFF;
    font-family: "Mogra", serif;
  }
  
  
/* COLOR STAR */
#P1 {
    color:#f9d7e7; 
}

#P2 {
    color:#e7cfcd; 
 }

 #P3 {
    color:#eca4a9; 
}

#B1 {
    color:#d9e7ed; 
}

/* COLOR END */


/* BUTTON or IMAGE EVERYWHERE Start */
.dongdong{
background-image: url(Assets/Group\ 18.png); /* The image used */
background-color: #cccccc; /* Used if the image is unavailable */
height: 120px; /* You must set a specified height */
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: contain; /* Resize the background image to cover the entire container */
}
/* BUTTON or IMAGE EVERYWHERE End */

/* HOME BUTTON HIGHLIGHT START */
.homehighlight {
  width: 100px;
  height: 100px;
  margin-left: 100px;
}
/* HOME BUTTON HIGHLIGHT END */




/* TEXT PG2 START */
h1 {
  color: black; 
  font-size:250px;
  margin-left: 651px;
   margin-top: -680px;
}

h2 {
  color: #d9e7ed;
  font-size:250px;
  margin-left: 810px;
  margin-top: -470px;
}

h3 {
  color: black;
  font-size: 250px;
  margin-left: 1000px;
  margin-top: -500px;
}

h4 {
  color: black;
  font-size: 250px;
  margin-left: 1170px;
  margin-top: -544px;
}

h5 {
  color: #f9d7e7;
  font-size: 250px;
  margin-left: 749px;
  margin-top: -414px;
}
/*TEXT PG2* END */



